<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kg.library.reservation.ReservationMapper">
	<!-- getReservations -->
<select id="getReservations" >
    SELECT room_num FROM reservation
    WHERE reservation_date = #{reservation_date}
      AND reservation_time = #{reservation_time}
</select>

<!-- getReservations2 -->
<select id="getReservations2">
    SELECT reservation_time FROM reservation
    WHERE reservation_date = #{reservation_date}
      AND room_num = #{room_num}
</select>

<!-- getReservations3 -->
<select id="getReservations3">
    SELECT reservation_time FROM reservation
    WHERE reservation_date = #{reservation_date}
      AND member = #{member}
</select>

<!-- insert -->
<insert id="insert">
    INSERT INTO reservation (room_num, reservation_date, reservation_time, member, duration)
    VALUES (#{room_num}, #{reservation_date}, #{reservation_time}, #{member}, #{duration})
</insert>

<!-- getReservations4 -->
<select id="getReservations4">
    SELECT room_num, reservation_date, MIN(reservation_time) AS reservation_time, MAX(duration) AS duration
    FROM reservation
    WHERE member = #{sessionId}
    GROUP BY room_num, reservation_date
</select>

<!-- cancel -->
<delete id="cancel">
    DELETE FROM reservation
    WHERE room_num = #{room_num}
      AND reservation_date = #{reservation_date}
</delete>

</mapper>